{% extends 'adminhome.html' %}


{% block sectioncontent %}
<center>
<h1>View And Manage Users Here</h1>

<table class="table table-bordered">
<tr>
<th>RegId</th>
<th>Name</th>
<th>Email</th>
<th>Enrollment No.</th>
<th>Address</th>
<th>Mobile</th>
<th>City</th>
<th>Gender</th>
<th>Info</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for row in userDetails %}
<tr>
<td>{{row.regid}}</td>
<td>{{row.name}}</td>
<td>{{row.email}}</td>
<td>{{row.enrollmentnumber}}</td>
<td>{{row.address}}</td>
<td>{{row.mobile}}</td>
<td>{{row.city}}</td>
<td>{{row.gender}}</td>
<td>{{row.dt}}</td>
<td>
{% if row.status %}
<a href="{{myadmin_curl}}manageuserstatus/?s=block&rid={{row.regid}}"  style="color:red;">Block User</a>
{% else %}
<a href="{{myadmin_curl}}manageuserstatus/?s=unblock&rid={{row.regid}}"  style="color:green;">Un-Block User</a>
{% endif %}
</td>
<td><a href="{{myadmin_curl}}manageuserstatus/?s=delete&rid={{row.regid}}"  style="color:orange;">Delete User</a></td>
</tr>
{% endfor %}
</table>

</center>
{% endblock %}
