{% extends 'base.html' %}

{% block sectioncontent %}
<h1>LOGIN HERE</h1>


<form action={{curl}}login/ method="post">
  {%  csrf_token %}
  <table>

    <tr>
      <td><h3>Enrollment Number</h3></td>

    </tr>
    <tr>
      <td><input type="text" name="enrollmentnumber" placeholder="Enter enrollmentnumber"></td>
    </tr>

    <tr>
      <td><h3>Password</h3></td>

    </tr>
    <tr>
      <td><input type="password" name="password" placeholder="Enter Password"></td>
    </tr>

    <tr>

      <td><input type="checkbox"  value="remember"><h5>Remember Me ?</h5></td>
    </tr>

    <tr>

      <td><input type="submit" value="login" ></td>
    </tr>

  </table>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
